.detailsContainer {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
}

.detailsContainer:last-child {
  padding-bottom: 0px;
}

.mainContainer {
  margin-bottom: 32px;
}

.mainContainer:last-child {
  margin-bottom: 0;
}

.repliesContainer {
  padding: 16px;
  background-color: #f7f7f7;
}

.image {
  width: 100px;
}

.info {
  padding-left: 16px;
}

.content {
  margin: 0;
  line-height: 1.6;
}

.metaData {
  margin: 0;
  color: #acacac;
}

.name {
  margin: 0;
  margin-bottom: 12px;
  font-size: 1.2em;
  line-height: 1;
}
